REACT_APP_EMAILJS_SERVICE_ID=your_service_id
REACT_APP_EMAILJS_PUBLIC_KEY=your_public_key
REACT_APP_EMAILJS_VERIFICATION_TEMPLATE=template_verification
REACT_APP_EMAILJS_ADMIN_NOTIFY_TEMPLATE=template_admin_notify
REACT_APP_EMAILJS_APPROVAL_TEMPLATE=template_approval
REACT_APP_EMAILJS_TRANSACTION_TEMPLATE=template_transaction
REACT_APP_ADMIN_EMAIL=m.duhujubum@alustudent.com
